@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');

html{
    font-family: 'Jost', sans-serif;
}

.color-fondo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FF7F99;
    
}

.atras{
    background-image: url(/images/hacia-atras.png);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.avatar1{
    background-image: url(/images/eudald.png);
    height: 277px;
    width: 277px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    
}

.avatar2{
    background-image: url(/images/laura.png);
    height: 277px;
    width: 277px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    
}

.avatar3{
    background-image: url(/images/robert.png);
    height: 277px;
    width: 277px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    
}

.avatar4{
    background-image: url(/images/david.png);
    height: 277px;
    width: 277px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    
}

.linkedin{
    height: 40px;
    width: 40px;
}

.nom-treballadors{
    color: white;
    margin-bottom: 0%;
}

.Eudald-Ferrer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
    
}

.Laura-Parra{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

.Robert-Camara{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

.David-Martinez{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
}

.descripcio{
    color: black;
    padding-left: 25px;
    padding-right: 25px;
}

.foto-nombre{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nom-tre{
    padding-left: 35px;
    font-size: 60px;
}